.admin-vetting-page {
  width: 100vw;
  max-width: 100vw;
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 56px;
  display: grid;
  grid-template-areas: 'list1 list2 data';
  grid-template-columns: 400px 400px auto;
}

.item-list {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  background-color: white;
  max-width: 400px;
  width: 400px;
}

.item-list-element,
.item-list-section {
  padding: 1rem;
  padding-top: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item-list-element h1,
.item-list-section h1 {
  font-size: 1.2em;
}

.item-list-element h2,
.item-list-section h2 {
  font-size: 1em;
}

.item-list-element:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.item-list-section {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.25rem 1rem;
}

.item-list-element code {
  float: right;
}

.uncolored-code {
  color: #919ca5;
}

.selected-list-element {
  background-color: #007bff;
  border-color: #0075f1;
}

.selected-list-element code {
  color: #ffb5d7;
}

.selected-list-element .uncolored-code {
  color: #cad6e0;
}

.selected-list-element:hover {
  background-color: #0075f1;
}

.selected-list-element h1 {
  color: white;
}

.selected-list-element h2 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.selected-list-element .slash-divider {
  color: rgba(255, 255, 255, 0.3);
}

.item-list.list-1 {
  grid-area: list1;
}

.item-list.list-2 {
  z-index: 10;
  grid-area: list2;
}

.breadcrumbs {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .1em;
  color: rgba(0, 0, 0, 0.6);
}

.nominee-vet-ui {
  grid-area: data;
}

.list-1 + .nominee-vet-ui {
  grid-column-start: list2;
}

.nominee-vet-ui.no-nominee-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden-button {
  all: unset;
  grid-area: list1;
  padding: .5rem 1rem;
  display: none;
  color: white;
  height: 30px;
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}

.hidden-button:hover {
  background-color: black;
}

.nominee-vet-ui {
  display: grid;
  grid-template-areas:
    'controls controls'
    'main     main'
    'json     json'
  ;
  grid-template-columns: minmax(500px, 2fr) minmax(600px, 4fr);
  grid-template-rows: repeat(3, min-content);
  overflow-y: scroll;
}

.nominee-card {
  grid-area: card;
  margin: 1.5rem;
  margin-left: 1rem;
}

.nominee-card .card:hover {
  transform: none !important;
  box-shadow: none !important;
}

.nominee-json {
  grid-area: json;
  padding-bottom: 6rem;
}

.nominee-json .react-json-view .string-value {
  color: #007bff;
}

.nominee-vet-ui .react-json-view,
.nominee-vet-ui p:not(.card-text) {
  margin: 0 1rem;
}

.nominee-controls {
  display: flex;
  align-items: center;
  grid-area: controls;
  max-height: 100px;
  height: 100px;
  padding: 1.5rem;
  background-color: #dfdfdf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 100;
  top: 0;
}

.nominee-buttons {
  margin-right: 1.5rem;
}

.nominee-header-text h2 {
  font-size: 1.4em;
  margin: 4px 0;
}

.nominee-header-text h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: .5rem;
}

.nominee-header-text code {
  color: #007bff;
  margin: 0 .25rem;
}

.nominee-header-text h3 code {
  font-size: 1.05em;
}

.section-head {
  margin: 2rem .5rem 1rem 0;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  /* position: sticky; */
}

.section-head h3 {
  font-size: 1em;
  padding: .5rem 1rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.nominee-left-column,
.nominee-json {
  margin-left: .5rem;
}

.section-head button {
  /* margin-left: auto; */
}


/** ListOfDuplicates styling **/

.nominee-duplicates li,
.nominee-categories li {
  list-style: none;
}

.nominee-categories,
.nominee-duplicates ol {
  padding-left: 0;
}

.duplicates-list,
.nominee-categories {
  margin: 0 1rem 0 .5rem;
}

.duplicates-categories-list {
  margin-top: 1rem;
}

.duplicates-list li,
.nominee-categories li {
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.duplicates-list > li,
.nominee-categories > li {
  padding: 1rem;
  background-color: rgba(255, 255, 255);
  margin-bottom: .5rem;
}

.nominee-categories > li {
  padding: 0;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.25);
}

.nominee-categories > li .dropdown-toggle {
  height: 44px;
  padding: 6px 12px 6px 14px;
}

.duplicates-categories-list > li {
  background-color: rgba(0, 0, 0, 0.025);
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.admin-vetting-page li code,
.admin-vetting-page .item-list code {
  margin-right: 4px;
}

.duplicates-categories-list > li code,
.nominee-categories > li code {
  margin-right: 8px;
}

.nominee-duplicates > p {
  padding-bottom: 1rem;
}

.non-duplicate-categories {
  margin-top: .75rem;
}

.non-duplicate-categories code {
  margin: 0 !important;
  color: #0075f1;
}


/** Badges **/

.vet-badge {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  height: 28px;
  width: 28px;
  justify-content: center;
  align-items: center;
  border-radius: .75rem;
  margin: 0 .5rem;
}


/** Approval status dropdown selector **/

.status-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  padding: .5rem 1.5rem .5rem 1rem;
  font-weight: 500;
}

.status-dropdown .dropdown-item svg {
  width: 24px;
  height: 24px;
  margin-right: .75rem;
}

.status-dropdown {
  height: 100%;
  /* margin-right: auto; */
}

.status-dropdown .dropdown-toggle {
  background-color: rgba(0, 0, 0, 0.05) !important;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.status-dropdown:not(.primary-status-dropdown) .dropdown-toggle {
  border: none;
  border-right: 1px solid #D4D4D4 !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 12px;
}

.status-dropdown .dropdown-toggle:hover {
  background-color: rgba(255, 255, 255) !important;
}

.status-dropdown .dropdown-toggle svg {
  height: 24px;
  width: 24px;
  color: #404040;
}

.status-dropdown .dropdown-toggle::after {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.7);
  transition: color .15s ease-in-out;
}

.status-dropdown .dropdown-toggle:hover::after {
  color: rgba(0, 0, 0, 1);
}

code.status-approved,
.status-approve .dropdown-toggle svg {
  color: green;
}

code.status-rejected,
.status-reject .dropdown-toggle svg {
  color: red;
}

.status-dropdown .option-approve,
.status-approve .dropdown-toggle {
  color: green;
  background-color: rgb(231, 255, 231) !important;
}

.status-dropdown .option-reject,
.status-reject .dropdown-toggle {
  color: red;
  background-color: rgb(255, 235, 235) !important;
}

.status-dropdown .option-approve:hover,
.status-approve .dropdown-toggle:hover {
  background-color: rgb(246, 255, 246) !important;
}

.status-dropdown .option-reject:hover,
.status-reject .dropdown-toggle:hover {
  background-color: rgb(255, 245, 245) !important;
}

.status-dropdown .option-reset:hover {
  background-color: rgb(244, 247, 250) !important;
}

.primary-status-dropdown .dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.primary-status-dropdown .dropdown-toggle:hover {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: white !important;
}

.primary-status-dropdown .dropdown-toggle svg {
  height: 40px;
  width: 40px;
}


/** Media queries **/

@media (max-width: 1920px) {
  /* Hide the category selection list at sub-1080p */
  .nominee-vet-ui {
    grid-column-start: list2;
  }

  .list-2 {
    transform: translateX(-100%);
    height: calc(100% - 30px - 1rem);
    top: calc(30px + 1rem);
    position: relative;
  }

  .hidden-button {
    z-index: 15;
    display: block;
    position: relative;
  }
}