body {
  /* create-react-app defaults */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Custom styles */
  background: rgb(240, 240, 240);
  padding-top: 72px;
  scroll-behavior: smooth;
}

.contests .card,
.contest-filler {
  width: 250px;
  background: white;
  border-radius: 10px;
  margin: 8px;
  transition: all 0.2s !important;
  flex-grow: 1;
}

.contest-filler {
  height: 0px;
  background: none;
}

.navbar-dark.bg-dark {
  background-color: #1e2124 !important;
}

.nav-item {
  transition: color 0.2s;
}

.navbar-dark .nav-item:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.nav-item.active,
.nav-item.active:hover {
  color: rgba(255, 255, 255, 1);
}

.max-width {
  max-width: 768px;
  margin: 24px auto 0 auto;
}

.category-input {
  padding: 16px 0 20px 0;
  background: linear-gradient(
    rgba(240, 240, 240, 1) 0%,
    rgba(240, 240, 240, 1) 85%,
    rgba(240, 240, 240, 0) 100%
  );
  z-index: 20;
}

.category-input .input-group {
  margin: 0;
}

.category-input.stick {
  top: 56px;
  position: sticky;
  box-shadow: -10px 0 rgba(240, 240, 240), 10px 0 rgba(240, 240, 240);
}

.enabled-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: #d1e7ff;
}

.enabled-card {
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: black;
  color: white;
  text-align: center;
  line-height: normal;
  font-size: 10pt;
  cursor: pointer;
}

#top {
  visibility: hidden;
  height: 0px;
}

.nomination-flow div {
  transition: opacity 0.5s;
}

div.hidden {
  opacity: 0.4;
  cursor: default;
}

.selected-card {
  transition: all 1s;
}

.nomination-flow input:disabled {
  background-color: #fff !important;
}

.vertical-padding {
  margin-bottom: calc(56px + 20vh);
}

.input-clear {
  z-index: 30;
  position: absolute;
  top: 10px;
  right: 14px;
  color: grey;
}

.height-lg {
  height: 48px;
}

.input-clear:hover {
  color: black;
  cursor: pointer;
}

.category-input input {
  border-radius: 0.3rem !important;
}

.hidden .input-clear:hover {
  color: grey;
  cursor: default;
}

.goback {
  float: right;
}

input::placeholder {
  /* font-style: italic; */
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4) !important;
}

.pad-top {
  margin-top: 20vh;
}

.submission-options .btn-primary,
.submission-options .btn-outline-primary {
  width: 100%;
  min-width: 200px;
}

.nomination-flow .form-group,
#typeahead-container {
  margin: 24px 0;
}

.submission-options {
  width: fit-content;
  margin: 32px auto;
}

.form-group :not(.input-group-prepend, .input-group-append) button {
  margin-right: 16px;
}

@media (max-width: 768px) {
  #nomination-selection .form-row > div:first-child {
    margin-bottom: 24px;
  }
}

.submission-alternatives {
  text-align: center;
}

.submission-alternatives > *:not(.btn-link) {
  margin: 12px auto 0 auto !important;
}

.input-group-lg input,
input.input-group-lg,
input.form-control-lg {
  font-size: 1rem !important;
  /* padding: 3px auto !important; */
  height: 48px !important;
}

.rbt-input-hint input {
  font-size: 1rem !important;
  padding-top: 11px !important;
}

#preview {
  width: 100%;
  height: fit-content;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

#preview > .card {
  width: 100%;
}

#image-load {
  margin-top: 0;
  z-index: 10;
}

.shrink-me {
  margin-top: 2px;
  margin-bottom: -12px;
}

.form-text {
  transition: all 0.25s;
}

.label-invisible {
  opacity: 0;
  margin-bottom: -20px;
}

.label-error {
  color: red;
}

#art-input button[type='submit'] {
  /* margin-top: -20px; */
  margin-bottom: -10px;
}

.input-group-lg .input-group-text {
  font-size: 1rem !important;
}

button[disabled] {
  cursor: default;
  pointer-events: visible;
}

.button-disabled:hover {
  background-color: initial !important;
  cursor: default;
}

.button-disabled.btn-outline-primary:hover,
.button-disabled.btn-outline-primary:focus,
.button-disabled.btn-outline-primary:active {
  color: #007bff !important;
}

.button-disabled:focus,
.button-disabled:active {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

*[optional='true']::after {
  content: '*';
  opacity: 0.5;
}

.art-card,
.other-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.fic-card,
.art-card,
.other-card {
  transition: all 0.2s !important;
}

.fic-card:hover,
.art-card:hover,
.other-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.card.bg-dark.text-white .card-subtitle {
  color: #abbbc9;
}

.other-card .card-text {
  margin-top: 10px;
}

.other-card .card-title {
  margin-bottom: 0;
}

.other-card .card-subtitle {
  margin-top: 6px;
  font-style: italic;
}

.bg-dark.text-white .card-link {
  color: #60adff;
  transition: color 0.2s;
}

.bg-dark.text-white .card-link:hover {
  color: #2c92ff;
}

.card-img-parent {
  overflow: hidden;
}

.art-card .card-title {
  margin-top: -6px;
}

.card-img:hover,
.card-img-top:hover,
.card-img-bottom:hover {
  cursor: pointer;
}

.nsfw-img {
  filter: blur(30px);
  z-index: 1;
}

.nsfw-img:hover {
  filter: blur(0px);
  transition: filter 3s ease-in;
}

.nsfw-indicator {
  color: rgb(255, 75, 75);
  font-size: 1rem;
  font-weight: normal;
  background-color: #343a40;
}

.art-card .nsfw-indicator {
  position: absolute;
  margin-top: -44px;
  left: 0px;
  padding: 6px 20px 0px 20px;
  border-top-right-radius: 0.25rem;
}

.fic-card .nsfw-indicator {
  float: right;
  vertical-align: top;
}

.fic-links {
  margin-top: 10px;
}

.fic-links img,
.fic-links .misc-link-svg {
  height: 32px;
  width: 32px;
}

.fic-links a {
  margin-right: 10px;
}

.bg-dark .misc-link-svg {
  fill: rgb(230, 230, 230);
}

.single-field-card {
  width: fit-content !important;
  border-radius: 10rem;
}

.single-field-card .card-body {
  padding: 16px 24px;
}

.single-field-card:hover {
  cursor: pointer;
}

/*
  Border radii on the vertically-grouped inputs (.conjoined-inputs)
  (really dodgy but I couldn't get it working another way)
*/

.conjoined-inputs .input-group-text,
.conjoined-inputs input {
  border-radius: 0 !important;
}

.conjoined-inputs .input-group {
  margin-top: -1px;
}

.conjoined-inputs img {
  width: 28px;
  height: 28px;
}

.conjoined-inputs .input-group-text {
  padding: 4px 8px;
}

.conjoined-inputs > .input-group:first-child .input-group-text {
  border-top-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child .input-group-text {
  border-bottom-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:first-child input {
  border-top-right-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child input {
  border-bottom-right-radius: 0.25rem !important;
}

/* 
  Loading indicator stuff.
  (including fade-in/rise-up animation)
  (spinner animation in spinner.css)
*/

.loading {
  display: none;
}

.loading-children {
  margin: 30px 0;
}

.loading-section {
  margin: 20vh auto 60px;
  text-align: center;
  opacity: 1;
  padding-top: 0px;
  transition: opacity 1s, padding-top 1s;
}

.loading-section.delayed {
  opacity: 0;
  padding-top: 10px;
}

.btn-link:hover {
  cursor: pointer;
}

/*
  Generic classes for fade-in/rise-up animation
*/

.fade-rise {
  animation: fadein-riseup 0.5s;
}

.fade-rise-1s {
  animation: fadein-riseup 1s;
}

.fade-rise-2s {
  animation: fadein-riseup 2s;
}

@keyframes fadein-riseup {
  from {
    opacity: 0;
    padding-top: 15px;
  }
  to {
    opacity: 1;
    padding-top: 0px;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Other animation stuff */

/* .card-link:hover {
  text-decoration: none;
}

.contests .card-footer, .contests .card-link {
  transition: all 0.2s;
}

.contests .card-footer:hover {
  background: rgba(0, 0, 255, 0.03);
}

.contests .card-link {
  color: 
} */

.card:hover .votecount {
  background: rgb(230, 241, 228);
}

.contest {
  border-radius: 20px;
}

.entries,
.contests {
  display: flex;
  overflow: auto;
  z-index: 2;
  flex-wrap: wrap;
  justify-items: left;
  margin: 0 -8px;
}

.contest_header {
  background: rgb(80, 80, 80);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
  padding-left: 20px;
  margin-top: 32px;
  border-radius: 10px;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
}

.contest_header p {
  margin-left: 50px;
  color: rgb(230, 230, 230);
}

.fic_data {
  padding: 0 20px 0 20px;
}

.author {
  font-weight: bold;
}

.votecount {
  margin-top: 18px;
  display: block;
  height: 50px;
  color: maroon;
  font-weight: bold;
  cursor: pointer;
  background: rgb(247, 247, 247);
  border-radius: 0 0 10px 10px;
  text-align: center;
  transition: background 0.2s;
}

.votecount p {
  transform: translateY(40%);
}

.voted {
  color: rgb(17, 122, 31);
}

.nsfw_indicator {
  color: maroon;
  float: right;
  font-weight: normal;
  font-size: 80%;
  border: 1px dashed rgb(85, 45, 45);
  border-radius: 10px;
  padding: 0 6px 0 6px;
}

/* 
#user {
  justify-self: end;
  align-items: center;
  display: flex;
  background: rgb(35, 35, 35);
  height: 80px;
  padding: 0 24px 0 24px;
}

#user img {
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

#user p {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 16px 0 16px;
}

#user #discriminator {
  font-weight: normal;
  color: rgb(170, 170, 170);
}

#header h1 {
  margin-left: 20px;
}

#content {
  padding: 0 20px 100px 20px;
} */

.no_entries {
  font-size: 1.2em;
  margin: 0 -10px;
  font-weight: bold;
  background: rgb(206, 206, 206);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

/* Typeahead Styling Tests */

.rbt {
  width: 100%;
}

li .dropdown-item {
  font-weight: bold;
}

.rbt-highlight-text {
  font-weight: normal;
  background: none;
  padding: inherit;
  color: inherit;
}

.rbt-menu-pagination-option a {
  color: #666666;
  font-weight: normal;
}
