body {
  /* create-react-app defaults */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Custom styles */
  background: rgb(240, 240, 240);
  padding-top: 72px;
  scroll-behavior: smooth;
}

.App > .navbar .container {
  position: relative;
  transition: left 0.2s linear;
  left: 0;
}

.card-container .card,
.type-selection .card,
.contest-filler {
  width: 250px;
  background: white;
  border-radius: 10px;
  margin: 8px;
  transition: all 0.2s !important;
  flex-grow: 1;
}

.entries,
.card-container {
  display: flex;
  overflow: auto;
  z-index: 2;
  flex-wrap: wrap;
  justify-items: left;
  margin: 0 -8px;
}

.type-selection .card-list {
  /* width: fit-content; */
  /* margin: 0 auto; */
  display: flex;
  margin: 0 -8px;
}

.type-selection .card {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 8px 0 8px;
  flex-grow: 1;
  min-width: 6rem;
}

.type-selection .card-title {
  margin: 0;
}

.category-collection {
  font-size: .9em;
  display: inline-block;
  width: fit-content !important;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 20px 16px 20px;
  text-transform: uppercase;
  margin: 0;
}

.text-white .category-collection {
  color: rgba(255, 255, 255, 0.8);
}

.card-bottom-tags {
  display: flex;
}

.category-closed {
  margin-left: auto;
  color: #007bff;
}

.contest-filler {
  height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
}

.navbar-dark.bg-dark {
  background-color: #1e2124 !important;
}

.nav-item {
  transition: color 0.2s;
}

.navbar-dark .nav-item:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.nav-item.active,
.nav-item.active:hover {
  color: rgba(255, 255, 255, 1);
}

.max-width {
  max-width: 768px;
  margin: 24px auto 0 auto;
}

.category-input {
  padding: 16px 0 20px 0;
  background: linear-gradient(
    rgba(240, 240, 240, 1) 0%,
    rgba(240, 240, 240, 1) 85%,
    rgba(240, 240, 240, 0) 100%
  );
  z-index: 20;
}

.category-input .input-group {
  margin: 0;
}

.category-input.stick {
  top: 56px;
  position: sticky;
  box-shadow: -10px 0 rgba(240, 240, 240), 10px 0 rgba(240, 240, 240);
}

@media (hover: hover) {
  .enabled-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background: #e9f2ff;
    cursor: pointer;
  }
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: black;
  color: white;
  text-align: center;
  line-height: normal;
  font-size: 10pt;
  cursor: pointer;
}

#top {
  visibility: hidden;
  height: 0px;
}

.nomination-flow div {
  transition: opacity 0.5s;
}

.nomination-flow > * {
  margin-bottom: 60px;
}

div.hidden {
  opacity: 0.4;
  cursor: default;
}

.selected-card {
  transition: all 2s;
}

.nomination-flow input:disabled {
  background-color: #fff !important;
}

.vertical-padding {
  margin-bottom: calc(56px + 20vh);
}

.input-clear {
  z-index: 30;
  position: absolute;
  top: 10px;
  right: 14px;
  color: grey;
}

.height-lg,
.controls button {
  height: 48px;
}

.input-clear:hover {
  color: black;
  cursor: pointer;
}

.category-input input {
  border-radius: 0.3rem !important;
}

.hidden .input-clear:hover {
  color: grey;
  cursor: default;
}

.goback {
  float: right;
}

input::placeholder {
  /* font-style: italic; */
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5) !important;
}

.pad-top {
  margin-top: 20vh;
}

.submission-options .btn-primary,
.submission-options .btn-outline-primary {
  width: 100%;
  min-width: 200px;
}

.nomination-flow .form-group {
  margin-bottom: 36px;
}

.other-input .form-group {
  margin-bottom: 24px;
}

.other-input .preview {
  margin: 36px 0;
}

.other-input > :first-child,
.nomination-flow .form-row > div {
  margin-top: 24px;
}

#typeahead-container {
  margin: 32px 0;
}

.submission-options {
  width: fit-content;
  margin: 32px auto;
}

.form-group :not(.input-group-prepend, .input-group-append) button {
  margin-right: 16px;
}

@media (max-width: 767px) {
  #nomination-selection .form-row > div:first-child {
    margin-bottom: 24px;
  }

  .type-selection .card-list {
    flex-direction: column;
  }

  .type-selection .card {
    width: calc(100% - 16px);
    margin: 10px 8px;
  }

  .container {
    max-width: 94vw;
  }
}

.submission-alternatives {
  text-align: center;
}

.submission-alternatives > *:not(.btn-link) {
  margin: 12px auto 0 auto !important;
}

.input-group-lg input,
input.input-group-lg,
input.form-control-lg {
  font-size: 1rem !important;
  /* padding: 3px auto !important; */
  height: 48px !important;
}

.rbt-input-hint input {
  font-size: 1rem !important;
  padding-top: 11px !important;
}

.preview {
  width: 100%;
  height: fit-content;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.preview > .card {
  width: 100%;
}

#image-load {
  margin-top: 20px;
  z-index: 10;
  margin-bottom: 0;
}

#image-load .spinner {
  margin-bottom: -16px;
}

.inline-load {
  color: #212529 !important;
  margin: 0 !important;
  display: flex;
}

.inline-load .loading-children {
  margin: 0 !important;
  margin-left: 8px !important;
  display: flex;
}

.inline-load .loading-children > * {
  margin-left: 0.25rem;
}

.submit-progress .spinner {
  margin: 0 auto;
  margin-top: 2px;
}

.submit-progress .spinner > div {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
  margin: 2px !important;
}

.submitting-btn {
  opacity: 1 !important;
}

.clear-nominees {
  margin-bottom: 40px;
}

.closed-page-indicator > h3 {
  margin-bottom: 1rem;
}

/* .extra-field-header {
  margin-top: 2rem;
  padding-top: 2rem;
  font-weight: normal;
  border-top: 1px solid rgba(0,0,0,0.1);
} */

.extra-field-header + p {
  margin-bottom: 2rem;
}

#step-two:not(.hidden) .submission-options.can-be-submitted {
  position: sticky;
  bottom: 1rem;
  z-index: 30;
}

#category-selection .submission-options.can-be-submitted button {
  border: 1px rgba(0,0,0,0.5) solid;
}

#submit-step {
  padding-top: 1rem;
}

#submit-step button.btn {
  padding: 12px;
  margin-top: 10px;
  margin-right: 16px;
}

#submit-step ol li {
  margin-bottom: 8px;
}

.primary-text-color {
  color: #007bff;
}

/* #image-load {
  position: absolute;
  z-index: 10;
  background: #343a40;
  width: 100%;
  height: 100%;
}

#image-load {
  padding: 15% 5%;
}

#image-load h5 {
  color: #d5d5d5 !important;
  font-weight: bold;
}

.art-card #image-load {
  margin-top: 0;
}

.other-card #image-load {
  margin-bottom: 0;
} */

.shrink-me {
  margin-top: 2px;
  margin-bottom: -12px;
}

.form-text {
  transition: all 0.25s;
}

.label-invisible {
  opacity: 0;
  margin-bottom: -20px;
}

.label-error {
  color: red;
}

#art-input button[type='submit'] {
  /* margin-top: -20px; */
  margin-bottom: -10px;
}

.input-group-lg .input-group-text {
  font-size: 1rem !important;
}

*[disabled],
.hidden .card:hover,
.hidden button.close:hover,
.hidden .goback:hover {
  cursor: default !important;
}

.hidden .goback,
.hidden .goback:hover {
  text-decoration: none;
  color: #6c757d;
}

.button-disabled:hover {
  background-color: initial !important;
  cursor: default;
}

.button-disabled.btn-outline-primary:hover,
.button-disabled.btn-outline-primary:focus,
.button-disabled.btn-outline-primary:active {
  color: #007bff !important;
}

.button-disabled:focus,
.button-disabled:active {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

*[optional='true']::after {
  content: '*';
  opacity: 0.5;
}

.art-card,
.other-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  border-radius: 0 !important;
}

.fic-card,
.art-card,
.other-card {
  transition: all 0.2s !important;
  border: none !important;
}

.fic-description-field {
  margin: 14px 0;
}

.fic-name-field {
  padding: 12px 20px 0 20px;
  border-bottom: none;
  background: none;
}

.fic-name-field + .card-body {
  padding-top: 6px;
}

.fic-name-field .card-title {
  margin: .5rem 0;
}

@media (hover: hover) {
  .fic-card:hover,
  .art-card:hover,
  .other-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .hidden .card:hover {
    transform: none !important;
    box-shadow: initial !important;
    cursor: default !important;
  }

  .vote-flow .category .card.bg-dark:hover,
  .vote-flow .category .card.bg-dark:hover .nsfw-indicator {
    background-color: #262b30 !important;
  }

  .vote-flow .category .card.bg-primary:hover,
  .vote-flow .category .card.bg-primary:hover .nsfw-indicator {
    background-color: #006cdf !important;
  }
}

.card.bg-dark.text-white .card-subtitle {
  color: #abbbc9;
}

.other-card .card-text {
  margin-top: 10px;
}

.other-card .card-title {
  margin-bottom: 0;
}

.other-card .card-subtitle {
  margin-top: 6px;
  font-style: italic;
}

.single-field-card .card-subtitle,
.single-field-card .card-text {
  margin-top: 0;
}

.single-field-card .card-text {
  padding: 0 20px;
}

.card-link {
  transition: color 0.2s;
}

.card.text-white .card-link {
  color: #60adff;
}

.card.text-white .card-link:hover {
  color: #2c92ff;
}

.card.bg-primary .card-link {
  color: #b9f5ff;
}

.card.bg-primary .card-link:hover {
  color: #7beafd;
}

.card-img-parent {
  overflow: hidden;
  /* background-color: rgb(52, 58, 64); */
}

.art-card .card-title {
  margin-top: -6px;
}

.card-img:hover,
.card-img-top:hover,
.card-img-bottom:hover {
  cursor: pointer;
}

.hidden img:hover {
  cursor: default !important;
}

.nsfw-img {
  filter: blur(30px);
  z-index: 1;
}

.hidden .nsfw-img {
  transition: none;
}

.nsfw-img:hover {
  filter: blur(0px);
  transition: filter 1.5s ease-in;
}

.img-parent > a:focus-within img {
  filter: blur(0px);
}

.hidden .nsfw-img:hover {
  filter: blur(30px);
  transition: none;
}

.nsfw-indicator {
  color: rgb(255, 75, 75);
  font-size: 1rem;
  font-weight: normal;
  background-color: #343a40;
  transition: background-color 0.2s;
}

.bg-primary .nsfw-indicator {
  color: rgb(253, 169, 169);
  background-color: #007bff;
}

.art-card .nsfw-indicator {
  position: absolute;
  margin-top: -44px;
  left: 0px;
  padding: 6px 20px 0px 20px;
  border-top-right-radius: 0.25rem;
}

.fic-card .nsfw-indicator {
  float: right;
  padding-left: 1.25rem;
}

.spoiler-indicator,
.bg-primary .spoiler-indicator {
  color: rgb(255, 252, 75);
}

.nsfw-indicator + .spoiler-indicator {
  right: 0;
  left: auto;
  border-top-right-radius: 0;
  border-top-left-radius: 0.25rem;
}

.fic-links {
  margin-top: 10px;
}

.fic-links img,
.fic-links .misc-link-svg {
  height: 32px;
  width: 32px;
}

.fic-links a {
  margin-right: 10px;
}

.card .misc-link-svg {
  fill: rgb(230, 230, 230);
}

.no-results {
  margin-top: 30px;
}

.my-nominees .category {
  margin-top: 10px;
  margin-bottom: 50px;
}

.entries .card {
  display: inline-block;
  margin: 12px 6px;
  display: flex;
  max-width: 400px;
  height: fit-content;
  user-select: none;
}

.entries .art-card {
  margin-bottom: 16px;
}

.single-field-card {
  width: fit-content !important;
  max-width: 100% !important;
  border-radius: 10rem;
}

.single-field-card .card-body {
  padding: 16px 24px;
}

.single-field-card:hover {
  cursor: pointer;
}

/*
  Border radii on the vertically-grouped inputs (.conjoined-inputs)
  (really dodgy but I couldn't get it working another way)
*/

.conjoined-inputs .input-group-text,
.conjoined-inputs input {
  border-radius: 0 !important;
}

.conjoined-inputs .input-group {
  margin-top: -1px;
}

.conjoined-inputs img {
  width: 28px;
  height: 28px;
}

.conjoined-inputs .input-group-text {
  padding: 4px 8px;
}

.conjoined-inputs > .input-group:first-child .input-group-text {
  border-top-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child .input-group-text {
  border-bottom-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:first-child input {
  border-top-right-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child input {
  border-bottom-right-radius: 0.25rem !important;
}

/* 
  Loading indicator stuff.
  (including fade-in/rise-up animation)
  (spinner animation in spinner.css)
*/

.loading {
  display: none;
}

.loading-children {
  margin: 30px 0;
}

.loading-section {
  margin: 20vh auto 60px;
  text-align: center;
  opacity: 1;
  padding-top: 0px;
  transition: opacity 1s, padding-top 1s;
}

.loading-section.delayed {
  opacity: 0;
  padding-top: 10px;
  visibility: hidden;
}

.btn-link:hover {
  cursor: pointer;
}

.form-text.shrink-me {
  cursor: default;
}

/*
  Generic classes for fade-in/rise-up animation
*/

.fade-in {
  animation: fadein 0.5s;
}

.fade-rise {
  animation: fadein-riseup 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-riseup {
  from {
    opacity: 0;
    padding-top: 15px;
  }
  to {
    opacity: 1;
    padding-top: 0px;
  }
}

/* Navbar / user info styling */

.navbar {
  padding: 0 1rem;
  overflow: hidden;
}

.navbar .container {
  margin: 0.5rem auto;
}

#user {
  justify-self: end;
  align-items: center;
  display: flex;
  background: rgb(24, 24, 24);
  position: relative;
  height: 56px;
  padding: 1rem;
  margin: -1rem 0;
  margin-left: auto;
  color: white;
  max-width: 260px;
}

#user:hover {
  cursor: pointer;
}

#avatar {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

#userData {
  font-weight: 500;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: clip;
  max-height: 48px;
}

#user #discriminator {
  font-weight: 300;
  color: rgb(170, 170, 170);
}

.logInOrOut {
  transition: color 0.2s;
  color: rgba(255, 255, 255, 0.7);
}

.logInOrOut:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.logInOrOut span {
  margin-left: 2px;
}

.logInOrOut img {
  height: 24px;
  width: 24px;
}

.nav-overlay {
  transition: background-color 0.3s;
  background-color: none;
  position: fixed;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}

/* Vote flow styling */

.contest_section > h3 {
  font-weight: bold;
  /* color: rgb(64, 64, 64);
  background-color: rgba(0, 0, 0, 0.05); */
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.05em;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.contest_section .category {
  margin-top: 3.5rem;
}

.contest_section > h3:first-child + .category {
  margin-top: 2rem;
}

.results section:first-of-type .section-header {
  margin-top: 2rem;
}

.contest_section {
  margin-top: 8rem;
}

.toc-click + .contest_section {
  margin-top: 1.5rem !important;
}

.category h6 {
  margin: 1rem 0 0.5rem 0;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

.category h5 {
  margin-bottom: 0.75rem;
}

.entries .single-field-card {
  margin: 6px 4px;
}

.entries .single-field-card .card-title {
  font-size: 18px !important;
}

.entries .single-field-card .card-body {
  padding: 12px 18px;
}

.vote-flow {
  position: relative;
}

.vote-flow .card:hover {
  cursor: pointer;
}

.vote-flow .bg-primary .card-subtitle {
  color: rgb(203, 207, 248);
}

.img-only-card {
  /* min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px; */
  width: 120px !important;
  height: 120px !important;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.img-only-card img {
  min-width: 80px;
  min-height: 80px;
  width: auto;
  height: auto;
  max-width: calc(120px - 1rem);
  max-height: calc(120px - 1rem);
  margin: auto;
}

.single-fields {
  justify-content: space-between;
  margin-top: 0.75rem;
}

.single-fields .card {
  flex-grow: 1;
  text-align: center;
}

.single-fields:not(.image-only-fields)::after {
  content: '';
  flex-grow: 100000;
}

.contest-collapser {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 200px;
}

.slash-divider {
  color: #c2cdd6;
  font-weight: bold;
  padding: 0 0.2rem;
}

.unsubmitted-count {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.unsubmitted-count:hover {
  text-decoration: underline;
  color: #065bb6;
}

.category ol {
  animation: fadein 0.5s;
  background: rgba(9, 145, 236, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 20;
}

.category ol li {
  list-style: none;
  margin: 0.2rem 0.5rem;
  color: #04525f;
}

.category ol li span {
  color: #0c8fa5;
  margin-left: 0.2rem;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

/* Table of contents */

.toc li[data-content]::before {
  content: attr(data-content);
}

.toc {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  /* z-index: 50; */
  /* Version that draws above navbar */
  z-index: 1050;
  width: 100%;
  min-width: 240px;
  max-width: 380px;
  padding: 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s;
  background: rgb(40, 40, 40);
  /* margin: 0; */
}

.toc li {
  list-style: none;
  /* margin-top: 0.8rem; */
  cursor: pointer;
  color: rgb(180, 180, 180);
}

.toc li:hover {
  color: rgb(255, 255, 255);
  background: rgb(48, 48, 48);
}

.toc-entry {
  font-weight: bold;
}

.toc ol {
  padding-left: 0;
}

.toc li {
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 8px;
}

.toc-entry + ol li {
  margin-left: 1.5rem;
}

.toc-entry + ol li:last-of-type {
  margin-bottom: 2rem;
}

.toc-click {
  transition: background-color 0.3s;
  background-color: none;
  position: fixed;
  /* z-index: 49; */
  /* Version that draws above navbar */
  z-index: 1049;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}

.toc.expanded {
  transform: translateX(0);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
}

.toc-click.expanded {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

#floating-toc-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 0.25rem;
}

#floating-toc-btn button {
  padding: 0.5rem;
  margin: auto;
  width: fit-content;
}

#floating-toc-btn img {
  margin: auto;
}

/* Vote submission */

#controls {
  z-index: 40;
  width: 100%;
  max-width: 364px;
  padding: 0.75rem;
  position: fixed;
  display: flex;
  bottom: 1rem;
  right: 1rem;
  height: 80px;
}

#controls > .btn,
#floating-toc-btn {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.5),
    0px 2px 3px rgba(0, 0, 0, 0.4);
  /* border: none; */
  transition: all 0.2s;
}

#controls > .btn:not(.submitting-btn):hover {
  transform: translateY(-3px);
}

#controls .btn-primary {
  background-color: #054b96;
  border-color: #1674d8;
}

#controls .btn-primary:not(.submitting-btn):hover {
  /* background-color: #076fdd;
  border-color: #3496ff; */
  background-color: #023266;
  border-color: #0e61b9;
}

#controls .btn-light,
#floating-toc-btn button {
  color: #0056b1;
  border-color: #b8b8b8;
}

#controls .btn-light:hover,
#floating-toc-btn button:hover {
  background-color: #eceeff;
}

#open-toc {
  margin-right: 0.75rem;
  padding: 6px;
  width: 56px;
}

#submit-votes {
  flex-grow: 10;
}

#submit-votes[disabled]:not(.submitting-btn) {
  opacity: 100;
  color: #0056b1;
  background-color: #dbecff;
}

#submit-votes[disabled]:hover {
  cursor: not-allowed !important;
}

/*=  Masonry stuff  =*/

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
}

.masonry-column {
  background-clip: padding-box;
}

.masonry-column > div {
  display: flex;
  max-width: 100%;
  flex-grow: 100;
}

/*= Lightbox =*/

.lightbox {
  position: fixed;
  z-index: 1100;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  padding: 0 2rem;
}

.lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox-overlay {
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
}

.lightbox-body {
  z-index: 1101;
  max-width: 800px;
  max-height: calc(100vh - 4rem);
  margin: auto auto;
  overflow-y: scroll;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}

.lightbox-img > img {
  overflow-y: scroll;
  width: 100% !important;
  height: auto;
}

.lightbox-img {
  overflow-y: scroll;
}

.lightbox-info {
  top: 0;
  width: 100%;
  position: sticky;
  padding: 1rem 1rem;
  background-color: rgba(15, 41, 97, 0.6);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  backdrop-filter: blur(8px);
  display: flex;
  overflow: hidden;
}

.lightbox-info > *:not(.lightbox-blurred) {
  z-index: 1101;
}

/* .lightbox-blurred {
  position: absolute;
  width: 150%;
  z-index: 1100;
  filter: blur(16px) brightness(0.5) contrast(0.5);
  margin: 0;
  margin-left: -25%;
  margin-top: -50%;
} */

.lightbox-info > a {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  padding-left: 0.5rem;
  margin: auto 0;
  color: white;
  transition: color 0.2s;
  text-decoration: underline;
  font-size: 14pt;
}

.lightbox-info > a:hover {
  color: #35d7ff;
}

.lightbox-controls {
  display: flex;
  height: 100%;
}

.lightbox-controls > button {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 4px rgba(255, 255, 255, 0.75);
}

.lightbox-controls .btn {
  height: 48px;
  width: 128px;
  font-size: 14pt;
  margin: auto 1rem;
  border-radius: 2rem;
  border: none !important;
}

.lightbox-controls .btn-outline-primary:not(:hover) {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.lightbox-controls > .btn-primary:hover {
  background-color: #006adb;
}

.lightbox-close {
  all: unset;
  width: 52px;
  height: 42px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 24pt !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  margin: auto;
  color: rgba(240, 240, 240);
  transition: all 0.2s;
}

.lightbox-close:hover {
  color: black;
  background-color: white;
}

/*=  Results styling  =*/

.results {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.section-header {
  font-family: trajan-pro-3, adobe-garamond-pro, serif;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  margin: 4rem auto 4rem auto;
  padding: 2rem 0;
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  max-width: 100vw;
}

.section-header > h2 {
  margin: 0;
  margin-right: -0.5em;
  letter-spacing: 0.5em;
  max-width: 100vw;
}

.section-header::before {
  content: 'Section';
  display: block;
  font-size: 16px;
  letter-spacing: 0.5em;
  padding-bottom: 0.5rem;
  color: grey;
  margin-right: -0.5em;
  max-width: 100vw;
}

.results-header {
  display: grid;
  text-align: center;
  text-transform: uppercase;
  font-family: trajan-pro-3, serif;
  grid-template-areas:
    'imgl pretitle imgr'
    'imgl title    imgr'
    'imgl subtitle imgr';
  margin: 6rem auto 1rem auto;
  max-width: 100%;
  width: fit-content;
}

.results-header > h2 {
  font-size: 32px;
  font-weight: 500;
  grid-area: title;
  padding: 0.5rem 1.5rem;
  margin: auto;
  min-width: 340px;
}

.results-header > small {
  font-size: 16px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 0;
}

.results-header > small:first-child {
  grid-area: pretitle;
}

.results-header > small:last-child {
  text-transform: none;
  grid-area: subtitle;
  word-break: keep-all;
}

.results-header > img {
  max-height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.results-header > img:first-child {
  grid-area: imgl;
  margin-left: auto;
}

.results-header > img:last-child {
  grid-area: imgr;
  transform: scaleX(-1);
}

.results-entries {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.results-entries > div {
  margin-bottom: 2.5rem;
}

.results-entries .result {
  margin-bottom: 1.5rem;
}

.results-entries h4 {
  font-family: adobe-garamond-pro, serif;
  font-size: 24px;
  font-style: italic;
}

.results-entries h5 {
  font-family: adobe-garamond-pro, serif;
  font-size: 18px;
  opacity: 0.7;
}

.results-entries h6 {
  margin-top: 1rem;
}

.results-gold h4 {
  font-size: 32px;
}

.results-gold h5 {
  font-size: 22px;
}

.results-entries > div::before,
.result + .result::before {
  padding: 1em;
  display: block;
  font-size: 14px;
  margin-right: -0.4em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-family: adobe-garamond-pro, serif;
}

.result + .result::before {
  content: 'and';
  margin-top: -1rem;
  color: rgb(150, 150, 150);
  text-transform: lowercase;
}

.results-gold::before {
  content: '— First Place —';
  color: #976f00;
}

.results-silver::before {
  content: '— Second Place —';
  color: #6d6d6d;
}

.results-bronze::before {
  content: '— Third Place —';
  color: #633800;
}

.section-header + .results-category > .results-header {
  margin-top: 1rem;
}

.results-category:last-of-type {
  padding-bottom: 10vh;
}

.results-entries .img-parent img {
  max-width: 100%;
}

.results-entries .img-parent a {
  margin: 0.25rem;
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
}

.results-entries .img-parent {
  border-radius: 0.5rem;
  border: 1px solid rgb(200, 200, 200);
  margin: auto;
  margin-top: 1rem;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  transition: transform 0.2s;
}

.results .imageonly .img-parent {
  margin-top: 0;
}

.results .imageonly .img-parent a {
  margin: 0;
  padding: 0.75rem;
}

.results-entries .img-parent:hover,
.results-entries .img-parent:focus-within {
  transform: translateY(-3px);
}

.results h6 {
  font-family: trajan-pro-3, serif;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.results h6.result-desc {
  margin-top: 1rem;
  line-height: 1.5rem;
  opacity: 0.8;
}

.results h6 span {
  display: block;
}

.results-gold {
  margin-top: 2rem;
}

.results-entries > button {
  margin-top: 0.5rem;
  z-index: 1 !important;
  position: relative;
}

.extra-results {
  background: rgb(230, 230, 230);
  width: 100vw;
  position: relative;
  margin: 0 !important;
  margin-top: -20px !important;
  transform: translateX(-50%);
  left: 50%;
}

.extra-results > div {
  padding: 4rem 15px 1rem 15px;
}

.extra-results > div > div {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.extra-results .result {
  margin-bottom: 3rem;
}

.extra-results .result h6:last-child {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.extra-results .result + .result::before {
  all: unset;
}

.result a {
  transition: color 0.5s;
}

.result a:hover,
.result-years a {
  text-decoration: none;
}

.results .fic-links {
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  width: fit-content;
  min-width: 58px;
  margin: 1rem auto 0 auto;
  border-radius: 1rem;
}

.extra-results .fic-links {
  background-color: rgb(220, 220, 220);
}

.results .fic-links a > * {
  width: 24px;
  height: 24px;
  fill: rgba(0, 0, 0, 0.6);
  transition: all 0.1s;
}

@media (hover: hover) {
  .results .fic-links a:hover > * {
    width: 30px;
    height: 30px;
    margin: -3px;
  }
}

.results .fic-links a:last-child {
  margin-right: 0;
}

.result-indicator,
.results .hover-to-reveal {
  margin-top: 1rem;
  font-family: trajan-pro-3, serif;
  color: rgb(80, 80, 80);
  margin-bottom: -0.5rem;
  /* font-style: italic; */
}

h4 .result-indicator {
  display: inline;
  /* margin: -1rem 0 0.5rem 0; */
}

h4 .result-indicator::before {
  content: '[';
}

h4 .result-indicator::after {
  content: ']';
}

.result-indicator span,
h4 .result-indicator::after,
h4 .result-indicator::before {
  color: rgb(175, 35, 35);
  font-size: 16px;
}

.results .hover-to-reveal {
  margin-top: 0.25rem;
  font-style: italic;
}

.results-goback {
  text-align: center;
  margin-top: 0.75rem;
}

.loading-children .results-goback {
  margin-bottom: 0.75rem;
}

.results-summary {
  padding: 2rem 0;
  border-radius: 0 0.3rem 0.3rem 0;
  margin: auto;
  margin-bottom: 4rem;
  font-family: adobe-garamond-pro, serif;
  font-size: 1rem;
  line-height: 2.2em;
  max-width: 80ch;
  text-align: justify;
  hyphens: auto;
}

.results-summary h1 {
  font-family: trajan-pro-3, serif;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1rem;
  padding: 1rem 0;
}

.results-summary .para-primary {
  font-size: 1.3rem;
  line-height: 1.8em;
  opacity: 0.9;
}

.results-summary .para-secondary {
  font-size: 1rem;
  opacity: 0.8;
}

.results-summary .results-goback {
  text-align: left;
}

.result-years {
  margin-top: 15vh;
  text-align: center;
}

.result-years ol {
  padding-left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.result-years li,
.latest {
  margin: 0.5rem;
  font-size: 24px;
  background-color: rgb(224, 224, 224);
  border-radius: 0.5rem;
  width: fit-content;
  transition: transform 0.2s, background-color 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.result-years li a,
.latest a {
  padding: 1rem 3rem;
  display: block;
}

.latest {
  margin: 1.5rem auto 0 auto;
}

.latest a {
  padding: 1rem 4rem;
}

.result-years .latest a::after {
  content: 'latest';
  font-size: 16px;
  margin-top: -4px;
  margin-right: -0.1em;
  letter-spacing: 0.1em;
  color: rgba(0, 50, 100, 0.8);
  font-style: italic;
  display: block;
}

.result-years li:hover,
.latest:hover {
  transform: translateY(-2px);
  background-color: rgb(216, 216, 216);
}

.latest + * {
  margin-top: 2rem;
}

.voted-for {
  color: #17a2b8;
  opacity: 1 !important;
  margin: 1rem 0 0 0 !important;
}

.results-header + .voted-for {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8 !important;
  margin: -0.5rem 0 1rem 0 !important;
}

.summary-votecount {
  color: #17a2b8;
  /* padding: 2px 4px;
  border: 1px solid rgba(23, 162, 184, 0.25); */
}

/*=  Media queries  =*/

@media (max-width: 767px) {
  #user {
    margin: 0;
    position: relative;
    width: 100%;
    padding: 0.75rem 0;
    bottom: -0.5rem;
    z-index: 1;
    background: none;
  }

  .collapse.show #user-backfill {
    position: absolute;
    background: rgb(24, 24, 24);
    width: 200%;
    left: -50%;
    height: 56px;
    z-index: 0;
    bottom: -8px;
    transition: background 0.3s;
  }

  .logInOrOut span {
    margin-left: 0;
  }

  #login {
    width: 100%;
  }

  #user {
    max-width: 100%;
  }

  #logout {
    margin-left: auto;
    margin-right: 0;
  }

  nav.expanded {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .nav-overlay.active-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .results-entries,
  .extra-results > div {
    width: 100%;
  }

  #floating-toc-btn {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@media (max-width: 991px) {
  .results-header > h2 {
    font-size: 30px;
  }

  .results-header > img {
    max-height: calc(15px + 10vw);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1262px;
  }
}

@media (max-width: 576px) {
  .entries .card {
    max-width: 100%;
    margin: 0 8px 12px 8px;
  }

  .entries .art-card,
  .entries .other-card {
    margin-bottom: 16px;
  }

  .entries .card-img-parent {
    max-height: 30vh;
    overflow: hidden;
  }

  .toc {
    min-width: 240px;
    max-width: 75vw;
    padding-bottom: 48px;
  }

  .masonry-grid {
    padding-top: 1rem;
  }

  .entries .card-img-parent::after {
    /* TODO: figure out a way to get this working. Probably need some JS. */
    /* content: 'Click for full view'; */
    z-index: 50;
  }

  .entries .single-field-card {
    margin: 4px;
    margin-top: 6px;
  }

  #controls {
    width: 100vw;
    max-width: 100vw;
    background-color: rgb(58, 71, 83);
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3);
    height: 72px;
    bottom: 0;
    right: 0;
    flex-direction: row-reverse;
  }

  #controls > .btn {
    box-shadow: none;
  }

  #controls > .btn:hover {
    transform: none !important;
  }

  #open-toc {
    margin-left: 0.75rem;
    margin-right: 0;
    padding: 6px;
    width: 48px;
  }

  .category h6 {
    line-height: 1.75rem;
    margin-bottom: 0;
  }

  .img-only-card {
    max-height: 96px;
    width: auto !important;
    padding: 0.75rem;
  }

  .img-only-card img {
    min-width: 72px;
    min-height: 72px;
    max-width: calc(88px - 1rem);
    max-height: calc(88px - 1rem);
  }

  .contest-collapser {
    margin-top: 1rem;
    width: 100vw;
    height: 56px;
    position: sticky;
    top: 56px;
    z-index: 30;
    margin-left: -1.75rem;
    border-radius: 0;
    border: none !important;
  }

  .contest-collapser.btn-outline-info {
    background-color: rgba(0, 0, 0, 0.03);
    color: #17a2b8;
  }

  .contest_section > h3 {
    border-radius: 0;
    padding: 1.5rem 1.75rem;
    width: 100vw;
    margin-left: -1.75rem;
  }

  .toc-click + .contest_section > h3 {
    margin-top: -5rem !important;
    padding-top: 4rem;
  }

  .category h5 {
    margin-bottom: 1rem;
  }

  .category ol {
    border-radius: 0;
    padding: 0.75rem 1rem;
    width: 100vw;
    margin-left: -1.75rem;
    margin-top: -0.25rem;
    margin-bottom: 1.5rem;
  }

  .category ol li {
    margin: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
  }

  .lightbox {
    padding: 0;
  }

  .lightbox-body {
    border-radius: 0;
    max-height: 100%;
  }

  .lightbox-info {
    width: 100% !important;
    display: grid;
    padding: 0;
    grid-template-areas:
      'buttons'
      'info';
  }

  .lightbox-info > a {
    width: 100% !important;
    padding: 1.1rem 1.5rem 1.25rem 1.5rem;
    grid-area: info;
    font-size: 13pt;
  }

  .lightbox-controls {
    min-width: 100% !important;
    width: 100vw !important;
    grid-area: buttons;
    display: grid;
    grid-template-columns: auto minmax(56px, 112px);
    grid-template-areas: 'select close';
    height: 56px !important;
  }

  .lightbox-controls > .btn,
  .lightbox-close {
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none !important;
    border: none !important;
  }

  .lightbox-controls > .btn {
    height: 56px;
    grid-area: select;
  }

  .lightbox-controls > .btn-outline-primary {
    background-color: #003d7e !important;
  }

  .lightbox-controls > .btn-outline-primary:hover {
    background-color: #00356d !important;
  }

  .lightbox-close {
    grid-area: close;
    padding-bottom: 0;
    font-size: 22pt !important;
    height: 62px;
    margin-top: -6px;
    background-color: white;
    color: black;
  }

  .lightbox-close:hover {
    background-color: rgb(220, 220, 220);
  }

  .results-header {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin: 6rem 0 1rem 0;
  }

  .results-header > img {
    max-height: calc(10px + 10vw);
  }

  .results-header h2 {
    font-size: 1.5em;
    min-width: 0;
  }

  .results-header > small {
    font-size: 14px;
  }

  .results-header > small:last-of-type {
    margin-top: 22px;
  }

  .results-header > small:last-of-type > span:first-of-type {
    display: block;
    visibility: hidden;
    height: 0px;
    margin-bottom: -42px;
  }

  .results-header + .voted-for {
    margin-top: 2rem !important;
    font-size: 14px;
  }

  .results-entries h4 {
    font-size: 22px;
  }

  .results-entries h5 {
    font-size: 16px;
  }

  .results-entries h6 {
    margin-top: 1rem;
  }

  .results-gold h4 {
    font-size: 28px;
  }

  .results-gold h5 {
    font-size: 20px;
  }

  .results-entries > div::before {
    font-size: 14px;
  }

  .section-header {
    width: 100vw;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 32px;
  }

  .results .fic-links a > * {
    width: 30px;
    height: 30px;
  }

  .result + h6 {
    margin-top: -0.5rem;
  }

  .results-summary {
    font-size: 1rem;
    line-height: 2.1em;
  }

  .results-summary h1 {
    font-size: 1.6rem;
    line-height: 1.6em;
    padding-bottom: 1.2rem;
  }

  .results-summary .para-primary {
    font-size: 1.2rem;
    line-height: 2em;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1620px) {
  .left-indent-container,
  .vote-nav .container {
    position: relative;
    left: 160px !important;
  }

  .extra-results {
    left: calc(50% - 169px);
    padding-left: calc(50% - 60px);
  }

  .toc {
    transition: none;
    transform: none;
    width: 20vw;
    max-width: 380px;
    height: calc(100vh - 56px);
    top: 56px;
    z-index: 50;
  }

  #open-toc {
    display: none;
  }

  #controls {
    height: fit-content;
    bottom: 2rem;
    right: 2rem;
    max-width: 200px;
  }

  #controls > .btn {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  #submit-votes {
    font-size: 16pt;
  }

  .lightbox-body {
    max-width: 1200px;
  }
}

/* Typeahead Styling Tests */

.rbt {
  width: 100%;
}

#typeahead-container li .dropdown-item {
  font-weight: bold;
}

.rbt-highlight-text {
  font-weight: normal;
  background: none;
  padding: inherit;
  color: inherit;
}

.rbt-menu-pagination-option a {
  color: #666666;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}
