body {
  /* create-react-app defaults */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Custom styles */
  background: rgb(240, 240, 240);
  padding-top: 72px;
  scroll-behavior: smooth;
}

.card-container .card,
.type-selection .card,
.contest-filler {
  width: 250px;
  background: white;
  border-radius: 10px;
  margin: 8px;
  transition: all 0.2s !important;
  flex-grow: 1;
}

.entries,
.card-container {
  display: flex;
  overflow: auto;
  z-index: 2;
  flex-wrap: wrap;
  justify-items: left;
  margin: 0 -8px;
}

.type-selection .card-list {
  /* width: fit-content; */
  /* margin: 0 auto; */
  display: flex;
  margin: 0 -8px;
}

.type-selection .card {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 8px 0 8px;
  flex-grow: 1;
  min-width: 6rem;
}

.type-selection .card-title {
  margin: 0;
}

.contest-filler {
  height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
}

.navbar-dark.bg-dark {
  background-color: #1e2124 !important;
}

.nav-item {
  transition: color 0.2s;
}

.navbar-dark .nav-item:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.nav-item.active,
.nav-item.active:hover {
  color: rgba(255, 255, 255, 1);
}

.max-width {
  max-width: 768px;
  margin: 24px auto 0 auto;
}

.category-input {
  padding: 16px 0 20px 0;
  background: linear-gradient(
    rgba(240, 240, 240, 1) 0%,
    rgba(240, 240, 240, 1) 85%,
    rgba(240, 240, 240, 0) 100%
  );
  z-index: 20;
}

.category-input .input-group {
  margin: 0;
}

.category-input.stick {
  top: 56px;
  position: sticky;
  box-shadow: -10px 0 rgba(240, 240, 240), 10px 0 rgba(240, 240, 240);
}

.enabled-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: #dfedff;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: black;
  color: white;
  text-align: center;
  line-height: normal;
  font-size: 10pt;
  cursor: pointer;
}

#top {
  visibility: hidden;
  height: 0px;
}

.nomination-flow div {
  transition: opacity 0.5s;
}

.nomination-flow > * {
  margin-bottom: 60px;
}

div.hidden {
  opacity: 0.4;
  cursor: default;
}

.selected-card {
  transition: all 2s;
}

.nomination-flow input:disabled {
  background-color: #fff !important;
}

.vertical-padding {
  margin-bottom: calc(56px + 20vh);
}

.input-clear {
  z-index: 30;
  position: absolute;
  top: 10px;
  right: 14px;
  color: grey;
}

.height-lg {
  height: 48px;
}

.input-clear:hover {
  color: black;
  cursor: pointer;
}

.category-input input {
  border-radius: 0.3rem !important;
}

.hidden .input-clear:hover {
  color: grey;
  cursor: default;
}

.goback {
  float: right;
}

input::placeholder {
  /* font-style: italic; */
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4) !important;
}

.pad-top {
  margin-top: 20vh;
}

.submission-options .btn-primary,
.submission-options .btn-outline-primary {
  width: 100%;
  min-width: 200px;
}

.nomination-flow .form-group {
  margin-bottom: 36px;
}

#other-input .form-group {
  margin-bottom: 24px;
}

#other-input .preview {
  margin: 36px 0;
}

#other-input > :first-child,
.nomination-flow .form-row > div {
  margin-top: 24px;
}

#typeahead-container {
  margin: 32px 0;
}

.submission-options {
  width: fit-content;
  margin: 32px auto;
}

.form-group :not(.input-group-prepend, .input-group-append) button {
  margin-right: 16px;
}

@media (max-width: 767px) {
  #nomination-selection .form-row > div:first-child {
    margin-bottom: 24px;
  }

  .type-selection .card-list {
    flex-direction: column;
  }

  .type-selection .card {
    width: calc(100% - 16px);
    margin: 10px 8px;
  }
}

.submission-alternatives {
  text-align: center;
}

.submission-alternatives > *:not(.btn-link) {
  margin: 12px auto 0 auto !important;
}

.input-group-lg input,
input.input-group-lg,
input.form-control-lg {
  font-size: 1rem !important;
  /* padding: 3px auto !important; */
  height: 48px !important;
}

.rbt-input-hint input {
  font-size: 1rem !important;
  padding-top: 11px !important;
}

.preview {
  width: 100%;
  height: fit-content;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.preview > .card {
  width: 100%;
}

#image-load {
  margin-top: 20px;
  z-index: 10;
  margin-bottom: 0;
}

#image-load .spinner {
  margin-bottom: -16px;
}

.inline-load {
  color: #212529 !important;
  margin: 0 !important;
  display: flex;
}

.inline-load .loading-children {
  margin: 0 !important;
  margin-left: 8px !important;
  display: flex;
}

.inline-load .loading-children > * {
  margin-left: 0.25rem;
}

.submit-progress .spinner {
  margin: 0 auto;
  margin-top: 2px;
}

.submit-progress .spinner > div {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
  margin: 2px !important;
}

.submitting-btn {
  opacity: 1 !important;
}

.clear-nominees {
  margin-bottom: 40px;
}

/* #image-load {
  position: absolute;
  z-index: 10;
  background: #343a40;
  width: 100%;
  height: 100%;
}

#image-load {
  padding: 15% 5%;
}

#image-load h5 {
  color: #d5d5d5 !important;
  font-weight: bold;
}

.art-card #image-load {
  margin-top: 0;
}

.other-card #image-load {
  margin-bottom: 0;
} */

.shrink-me {
  margin-top: 2px;
  margin-bottom: -12px;
}

.form-text {
  transition: all 0.25s;
}

.label-invisible {
  opacity: 0;
  margin-bottom: -20px;
}

.label-error {
  color: red;
}

#art-input button[type='submit'] {
  /* margin-top: -20px; */
  margin-bottom: -10px;
}

.input-group-lg .input-group-text {
  font-size: 1rem !important;
}

*[disabled],
.hidden .card:hover,
.hidden button.close:hover,
.hidden .goback:hover {
  cursor: default !important;
}

.hidden .goback,
.hidden .goback:hover {
  text-decoration: none;
  color: #6c757d;
}

.button-disabled:hover {
  background-color: initial !important;
  cursor: default;
}

.button-disabled.btn-outline-primary:hover,
.button-disabled.btn-outline-primary:focus,
.button-disabled.btn-outline-primary:active {
  color: #007bff !important;
}

.button-disabled:focus,
.button-disabled:active {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

*[optional='true']::after {
  content: '*';
  opacity: 0.5;
}

.art-card,
.other-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.fic-card,
.art-card,
.other-card {
  transition: all 0.2s !important;
}

.fic-card:hover,
.art-card:hover,
.other-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.hidden .card:hover {
  transform: none !important;
  box-shadow: initial !important;
  cursor: default !important;
}

.card.bg-dark.text-white .card-subtitle {
  color: #abbbc9;
}

.other-card .card-text {
  margin-top: 10px;
}

.other-card .card-title {
  margin-bottom: 0;
}

.other-card .card-subtitle {
  margin-top: 6px;
  font-style: italic;
}

.single-field-card .card-subtitle,
.single-field-card .card-text {
  margin-top: 0;
}

.single-field-card .card-text {
  padding: 0 20px;
}

.bg-dark.text-white .card-link {
  color: #60adff;
  transition: color 0.2s;
}

.bg-dark.text-white .card-link:hover {
  color: #2c92ff;
}

.card-img-parent {
  overflow: hidden;
}

.art-card .card-title {
  margin-top: -6px;
}

.card-img:hover,
.card-img-top:hover,
.card-img-bottom:hover {
  cursor: pointer;
}

.hidden img:hover {
  cursor: default !important;
}

.nsfw-img {
  filter: blur(30px);
  z-index: 1;
}

.hidden .nsfw-img {
  transition: none;
}

.nsfw-img:hover {
  filter: blur(0px);
  transition: filter 3s ease-in;
}

.hidden .nsfw-img:hover {
  filter: blur(30px);
  transition: none;
}

.nsfw-indicator {
  color: rgb(255, 75, 75);
  font-size: 1rem;
  font-weight: normal;
  background-color: #343a40;
}

.art-card .nsfw-indicator {
  position: absolute;
  margin-top: -44px;
  left: 0px;
  padding: 6px 20px 0px 20px;
  border-top-right-radius: 0.25rem;
}

.fic-card .nsfw-indicator {
  float: right;
  padding-left: 1.25rem;
}

.fic-links {
  margin-top: 10px;
}

.fic-links img,
.fic-links .misc-link-svg {
  height: 32px;
  width: 32px;
}

.fic-links a {
  margin-right: 10px;
}

.bg-dark .misc-link-svg {
  fill: rgb(230, 230, 230);
}

.single-field-card {
  width: fit-content !important;
  border-radius: 10rem;
}

.single-field-card .card-body {
  padding: 16px 24px;
}

.single-field-card:hover {
  cursor: pointer;
}

.no-results {
  margin-top: 30px;
}

.my-nominees .category {
  margin-top: 10px;
  margin-bottom: 50px;
}

.entries .card {
  display: inline-block;
  margin: 8px;
  display: flex;
  max-width: 400px;
  height: fit-content;
}

.entries .art-card {
  margin-bottom: 16px;
}

/*
  Border radii on the vertically-grouped inputs (.conjoined-inputs)
  (really dodgy but I couldn't get it working another way)
*/

.conjoined-inputs .input-group-text,
.conjoined-inputs input {
  border-radius: 0 !important;
}

.conjoined-inputs .input-group {
  margin-top: -1px;
}

.conjoined-inputs img {
  width: 28px;
  height: 28px;
}

.conjoined-inputs .input-group-text {
  padding: 4px 8px;
}

.conjoined-inputs > .input-group:first-child .input-group-text {
  border-top-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child .input-group-text {
  border-bottom-left-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:first-child input {
  border-top-right-radius: 0.25rem !important;
}

.conjoined-inputs > .input-group:last-child input {
  border-bottom-right-radius: 0.25rem !important;
}

/* 
  Loading indicator stuff.
  (including fade-in/rise-up animation)
  (spinner animation in spinner.css)
*/

.loading {
  display: none;
}

.loading-children {
  margin: 30px 0;
}

.loading-section {
  margin: 20vh auto 60px;
  text-align: center;
  opacity: 1;
  padding-top: 0px;
  transition: opacity 1s, padding-top 1s;
}

.loading-section.delayed {
  opacity: 0;
  padding-top: 10px;
}

.btn-link:hover {
  cursor: pointer;
}

.form-text.shrink-me {
  cursor: default;
}

/*
  Generic classes for fade-in/rise-up animation
*/

.fade-in {
  animation: fadein 0.5s;
}

.fade-rise {
  animation: fadein-riseup 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-riseup {
  from {
    opacity: 0;
    padding-top: 15px;
  }
  to {
    opacity: 1;
    padding-top: 0px;
  }
}

.navbar {
  padding: 0 1rem;
  overflow: hidden;
}

.navbar .container {
  margin: 0.5rem auto;
}

#user {
  justify-self: end;
  align-items: center;
  display: flex;
  background: rgb(24, 24, 24);
  position: relative;
  height: 56px;
  padding: 1rem;
  margin: -1rem 0;
  margin-left: auto;
  color: white;
  max-width: 260px;
}

#user:hover {
  cursor: pointer;
}

#avatar {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

#userinfo {
  font-weight: 500;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: clip;
  max-height: 48px;
}

#user #discriminator {
  font-weight: 300;
  color: rgb(170, 170, 170);
}

.logInOrOut {
  transition: color 0.2s;
  color: rgba(255, 255, 255, 0.7);
}

.logInOrOut:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.logInOrOut span {
  margin-left: 2px;
}

.logInOrOut img {
  height: 24px;
  width: 24px;
}

@media (max-width: 767px) {
  #user {
    margin: 0;
    position: relative;
    width: 100%;
    padding: 0.75rem 0;
    bottom: -0.5rem;
    z-index: 1;
    background: none;
  }

  .collapse.show #user-backfill {
    position: absolute;
    background: rgb(24, 24, 24);
    width: 200%;
    left: -50%;
    height: 56px;
    z-index: 0;
    bottom: 0;
    transition: background 0.3s;
  }

  .logInOrOut span {
    margin-left: 0;
  }

  #login {
    width: 100%;
  }

  #user {
    max-width: 100%;
  }

  #logout {
    margin-left: auto;
    margin-right: 0;
  }

  .expanded {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .nav-overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}

.bold {
  font-weight: bold;
}

/* Typeahead Styling Tests */

.rbt {
  width: 100%;
}

li .dropdown-item {
  font-weight: bold;
}

.rbt-highlight-text {
  font-weight: normal;
  background: none;
  padding: inherit;
  color: inherit;
}

.rbt-menu-pagination-option a {
  color: #666666;
  font-weight: normal;
}
